html {
    height: 100%;
    margin: 8px;
    font-size: larger;
    letter-spacing: 0.1em;
}

.header {
    text-align: center;
}

#bodyArea {
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: #a5d0e0;
    font-family: Arial, sans-serif;
}

.button {
    margin: auto;
    border-radius: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    width: 20%;
    padding: 1;
    text-align: center;
    font-weight: bold;
}

input{
  width: 20%;
  size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
}

#historyArea {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#game {
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #cccccc;
    padding: 10px;
}

#statusArea1,
#statusArea2, #statusArea3{
    font-size: 120%;
}



#footerArea {
    text-align: center;
    margin-top: 5px;
    font-size: 90%;
    font-style: italic;
}

table,
th,
td {
    border: 1px solid black;
    margin: auto;
}

div {
    background-position: fixed;
}


